 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Tiwit Technology Solutions Pvt. Ltd. is a company established in 2016 which runs the pregnancy and stem-cells banking related portal at <a class="tiwit-link" href="https://tiwit.life/">tiwit.life</a></p>
                </div>
                <div class="col-lg-4">
                    <p>We have wide experience in marketing, sales, content, technology and other fields.</p>
                </div>
           </div>
        </div>
    </section>
