 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Stem Cell Banking</h3>
                    <p>Builds an online platform to understand and utilize this new bio-investment opportunity for unimaginable return from the future. Best stem cell banks in India will be curated on our platform</p>
                </div>
                <div class="col-lg-4">
                    <h3>Gene Mapping</h3>
                    <p>
                       Bringing gene mapping closer to the public to improve the quality of personalised healthcare.It works as a biological horoscope to understand about the history of a person’s future health. 
                    </p>
                </div>
                <div class="col-lg-4">
                    <h3>Pregnancy Mentoring</h3>
                    <p>
                        Best experts online to solve specific problems during pregnancy for happy birthing. We will have diverse experts from positive birth psychology, yoga, fitness and gynecology.
                    </p>
                </div>
            </div>
       </div>
    </section>
