<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Jobs</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h4>Designer Wanted</h4>
                <p>We want someone who can speak UI/UX, work with tools like Adobe Illustrator, Photoshop, Figma and also be able to work out the HTML and CSS to see their designs realized.</p>
            </div>
        </div>
    </div>
</section>
