<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Jobs</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2">
                <h4>Designer Wanted</h4>
                <p>We want a UI/UX designer who can work with tools like Adobe Illustrator, Photoshop, Figma and also be able to work out the HTML and CSS to see their designs realized. If you are someone who has a unique perspective on the world and you have a passion for design then please email us your resume at jobs@tiwit.in</p>
            </div>
        </div>
    </div>
</section>
